body{
    background-image: url("https://bogatyr.club/uploads/posts/2023-03/1679525880_bogatyr-club-p-estetichnie-oboi-belie-foni-oboi-46.jpg");
    background-size: cover;
}
.geneticCanvas{
    background-color: white;
    border: 1px solid black;
}
.findGenetic{
    position: relative;
    border: 3px solid rgb(54, 54, 54);
    border-radius: 5px;
    max-width: 160px;
    background-color: white;
    left: 110px;
    font-weight: 800;
}
.clearGeneticCanvas{
    position: relative;
    border: 3px solid rgb(54, 54, 54);
    border-radius: 5px;
    max-width: 160px;
    background-color: white;
    left: 110px;
    font-weight: 800;
}
h1{
    position: relative;
    padding: 10px 10px;
    border: 3px solid rgb(54, 54, 54);
    border-radius: 5px;
    max-width: 650px;
    background-color: white;
    font-weight: 800;
}
h2{
    position: relative;
    padding: 5px 10px;
    top: -17px;
    border: 3px solid rgb(54, 54, 54);
    border-radius: 5px;
    max-width: 300px;
    background-color: white;
    font-weight: 800;
}