body{
    background-image: url("https://bogatyr.club/uploads/posts/2023-03/1679525880_bogatyr-club-p-estetichnie-oboi-belie-foni-oboi-46.jpg");
    background-size: cover;
}
.nameAlgorithm{
    position: absolute;
    text-align: center;
    border: 4px solid rgb(54, 54, 54);
    background-color: white;
    border-radius: 15px;
    top: 50px;
    left: 680px;
    height: 40px;
    width: 500px;
}
.geneticCanvas{
    background-color: white;
    border: 4px solid rgb(54, 54, 54);
    border-radius: 10px;
    position: absolute;
    top: 150px;
    left: 625px;
    
}
.findGenetic{
    position: absolute;
    border: 3px solid rgb(54, 54, 54);
    border-radius: 5px;
    font-weight: 800;
    background-color: white;
    top: 190px;
    left: 490px;
    height: 35px;
    width: 100px;

    transition: transform 0.2s ease;
}
.findGenetic:hover {transform: scale(1.1);}

.clearGeneticCanvas{
    position: absolute;
    border: 3px solid rgb(54, 54, 54);
    border-radius: 5px;
    font-weight: 800;
    background-color: white;
    top: 235px;
    left: 450px;
    height: 35px;
    width: 140px;

    transition: transform 0.2s ease;
}
.clearGeneticCanvas:hover {transform: scale(1.1);}