@font-face {
    font-family: "PPNeueMachina-InktrapRegular";
    src: url('./PPNeueMachina-InktrapRegular.otf');
}

body {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
    background-color: black;
    text-align: center;
    font-family: "PPNeueMachina-InktrapRegular";
}

.title {
    font-size: 64px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.first {
    color: white;
}

.second {
    color: black;
    border: 2px solid green;
    background-color: green;
    border-radius: 15px;
    padding: 10px 10px;
}

.links {
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 13px;
    padding: 15px 25px;
    color:white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    font-size: 27px;
}