@font-face {
    font-family: "PPNeueMachina-InktrapRegular";
    src: url('/PPNeueMachina-InktrapRegular.otf');
}

body {
    color: white;
    background-color: black;
    font-family: "PPNeueMachina-InktrapRegular";
}

.topBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
}

.links {
    margin-left: 100px;
}

.link {
    text-decoration: none;
    margin-right: 20px;
    color: #f0f0f0;
    font-size: 20px;
}

.link:hover {
    color: white;
}

.currlink {
    text-decoration: none;
    margin-right: 20px;
    color: green;
    font-size: 20px;
}

.currlink:hover {
    color: #45a049;
} 
.area {
    display: flex;
}
.inputSection {
    color: white;
    flex: 1;
    margin-left: 60px;
}
.searchSection{
    color: white;
    flex: 1;
    margin-left: 60px;
}
.nameUploadFile{
    color: white;
    position: absolute;
    font-size: 25px;
    top: 100px;
    left: 50px;
}
.selectFile{
    position: absolute;
    top: 163px;
    left: 50px;
}
.buttonBuild{
    color: white;
    position: absolute;
    text-align: center;
    border: 2px solid white;
    background-color: #45a049;
    border-radius: 10px;
    font-weight: 550;
    top: 200px;
    left: 50px;
    height: 28px;
    width: 170px;

    transition: transform 0.2s ease;
}
.buttonBuild:hover {transform: scale(1.1);}

.nameElementSearch{
    color: white;
    position: absolute;
    font-size: 25px;
    top: 320px;
    left: 50px;
}
.inputText{
    color: white;
    position: absolute;
    border: 2px solid white;
    background-color: #45a049;
    border-radius: 10px;
    top: 380px;
    left: 50px;
}
.buttonSearch{
    color: white;
    position: absolute;
    text-align: center;
    border: 2px solid white;
    background-color: #45a049;
    border-radius: 10px;
    font-weight: 550;
    top: 480px;
    left: 50px;
    height: 28px;
    width: 120px;

    transition: transform 0.2s ease;
}
.buttonSearch:hover {transform: scale(1.1);}

.tree {
    color: white;
    position: absolute;
    top: 162px;
    left: 450px;
    width: 800px;
    flex: 2;
}

.tree ul {
    color: white;
    margin-left: 20px;
}

.tree li { 
    color: white;
    display: block;
    padding: 7px 16px;
    border-top: 4px solid white;
}

.tree li:first-child {
    color: white;
    border-top: none;
}
.PS{
    color: white;
    position: absolute;
    top: 530px;
    left: 50px;
    font-size: 15px;
}
.inputData{
    color: white;
    position: absolute;
    top: 555px;
    left: 50px;
    font-size: 15px;
}